interactions:
- request:
    body: '{"coordinates": [[106.8456, -6.2088], [112.7521, -7.2575]], "alternative_routes":
      {"target_count": 3, "weight_factor": 1.6, "share_factor": 0.6}, "extra_info":
      ["waytype"]}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.openrouteservice.org/v2/directions/driving-hgv/geojson
  response:
    body:
      string: '{"error":{"code":2004,"message":"Request parameters exceed the server
        configuration limits. The approximated route distance must not be greater
        than 100000.0 meters for use with the alternative Routes algorithm."},"info":{"engine":{"build_date":"2026-06-12T10:08:58Z","graph_version":"4","graph_date":"2026-07-28T07:07:47Z","osm_date":"2026-07-20T00:00:00Z","version":"9.9.0"},"timestamp":1786679143805}}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1890'
      X-Ratelimit-Reset:
      - '1786754334'
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"coordinates": [[106.8456, -6.2088], [112.7521, -7.2575]], "preference":
      "recommended", "extra_info": ["waytype"]}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.openrouteservice.org/v2/directions/driving-hgv/geojson
  response:
    body:
      string: '{"type":"FeatureCollection","bbox":[106.845627,-7.258027,112.754846,-6.166283],"features":[{"bbox":[106.845627,-7.258027,112.754846,-6.166283],"type":"Feature","properties":{"segments":[{"distance":770319.8,"duration":36519.0,"steps":[{"distance":72.8,"duration":17.6,"type":11,"instruction":"Head
        southeast on Jalan Sultan Agung","name":"Jalan Sultan Agung","way_points":[0,4]},{"distance":1241.1,"duration":170.9,"type":12,"instruction":"Keep
        left onto Jalan Sultan Agung","name":"Jalan Sultan Agung","way_points":[4,38]},{"distance":627.1,"duration":66.2,"type":13,"instruction":"Keep
        right onto Terowongan Matraman","name":"Terowongan Matraman","way_points":[38,48]},{"distance":699.7,"duration":56.3,"type":12,"instruction":"Keep
        left onto Jalan Pramuka","name":"Jalan Pramuka","way_points":[48,64]},{"distance":1485.8,"duration":106.4,"type":[...]
- request:
    body: '{"coordinates": [[106.8456, -6.2088], [112.7521, -7.2575]], "extra_info":
      ["waytype"], "options": {"avoid_features": ["tollways"]}}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.openrouteservice.org/v2/directions/driving-hgv/geojson
  response:
    body:
      string: '{"type":"FeatureCollection","bbox":[106.845627,-7.258027,112.754846,-6.166283],"features":[{"bbox":[106.845627,-7.258027,112.754846,-6.166283],"type":"Feature","properties":{"segments":[{"distance":798583.7,"duration":36722.2,"steps":[{"distance":72.8,"duration":17.6,"type":11,"instruction":"He[...]
[...]
